

.DashboardColumn__header {
  button {
    &:before {
      content: '+';
    }
  }
}
.DashboardItem {
  .DashboardItem__btn {
    background-color: transparent;
    border: none;
    
    &:before {
      content: '+';
    }
  }
}